<% layout('page') -%>

<form id='auth' class='form form_auth'>
  <h3>Авторизация</h3>
  <input type="text" name='login' placeholder="Введите логин"/>
  <input type="password" name="password" placeholder="Введите пароль"/>
  <input class='btn' type="submit" value='Войти' />
</form>
