<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- body -%>
    <script src='/js/main.js'></script>
  </body>
</html>
