body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e7e7e7
}

a {
  color: #00B7FF;
}

form {
  margin: 0 auto;
}

input[type=text], input[type=password], .btn {
  padding: 8px;
  box-sizing: border-box;
}

.btn {
  display: block
}

.form.form_auth {
  width: 300px;
}

.form_auth input {
  display: block;
  width: 100%;
  margin-bottom: 8px
}

.form_auth input:last-child {
  margin-bottom: 0
}

.form_auth h3 {
  text-align: center
}
